* {
    margin: 0;
    padding: 0;
}

.vers {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 22px;
    font-size: 30px;
    line-height: 32px;
    color: #444;
}

.container {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 0px;
}